body {
	height: 100%;
	width: 100%;
	background: #f2f2f2;
	color: #333;
	font: 100%/1.5 "Helvetica Neue","Microsoft Yahei",sans-serif;
}
.view, .demo-page {
	height: 100%;
}
.demo-page {
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

#logo {
	width: 0px;
	height: 0px;
	border: 20px solid red;
	
	border-left-color:  transparent;
	border-bottom-color: transparent;
	border-right-color: transparent;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.h1 {
	font-size: @default-font-size;
}
.navbar-custom {
	background: #ccc;
	height: 0.8em;
	line-height: 0.8em;
	border: none;
}

.start-body {
	overflow: hidden;
	height: 100%;
	display: block;
	width: 100%;
	background-color: #142441;
	color: @base-color;
	word-wrap: break-word;
	border:0;
}
.loading {
	height: 100%;
	width: 100%;
}
.welcom-pic {
	height: 18em;
	background:url('../images/car.png') no-repeat center center;
	background-size: contain;
	margin-top: 15em;
}
.cbtn {
	width: 160px;
	height: 42px;
	border:1px solid @base-color;
	display: block;
	line-height: 42px;
	margin: 20px auto;
	color: #fff;
	font-size: @default-font-size;
}
.cbtn:hover {
	text-decoration: none;
	color: @hover-color;
}
.text-default {
	color: @text-default-color;
}
.main-section {
	padding: 65px 10px;
}