body {
	height: 100%;
	width: 100%;
	background: #f2f2f2;
	color: #333;
	font: 100%/1.5 "Helvetica Neue","Microsoft Yahei",sans-serif;
}
.view, .demo-page {
	height: 100%;
}

.demo-page {
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

#logo {
	width: 0px;
	height: 0px;
	border: 20px solid red;
	
	border-left-color:  transparent;
	border-bottom-color: transparent;
	border-right-color: transparent;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.h1 {
	font-size: 1.5em;
}
.navbar-custom {
	background: #ccc;
	height: 0.8em;
	line-height: 0.8em;
}

.start-body {
	overflow: hidden;
	height: 100%;
	display: block;
	width: 100%;
	background-color: #142441;
	color: #fff;
	word-wrap: break-word;
	border:0;
}
.loading {
	height: 100%;
	width: 100%;
}
.center-obj {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    text-align: center;
}
.welcom-pic {
	height: 200px;
	width: 270px;
	background:url('../images/car.png');
	background-size: cover;
}
.cbtn {
	width: 160px;
	height: 42px;
	border:1px solid #d5eefe;
	display: block;
	line-height: 42px;
	margin: 20px auto;
	color: #fff;
}
.cbtn:hover {
	text-decoration: none;
	color: #999;
}