<div>
    <ul class="list-group funcs-group">
        <li class="list-group-item">
            <a href="#" class="text-default">
                <i class="fa fa-cog"></i>&nbsp;设置
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" class="text-default">
                <i class="fa fa-envelope-o"></i>&nbsp;关于
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" class="text-default">
                <i class="fa fa-flag-o"></i>&nbsp;软件升级
            </a>
        </li>
    </ul>
    
    <a class="cbtn cbtn-danger" href="#">退出登录</a>
    
</div>
