<div>	
	<nav class="navbar navbar-fixed-bottom navbar-custom">

		<div class="col-xs-4 h1 text-center">
			<a class="text-default" ng-class="{highlight: tab == 'home'}" ng-href="#main/{{'home'}}">
				<i class="fa fa-home" aria-hidden="true"></i>
			</a>
		</div>
		<div class="col-xs-4 h1 text-center">
			<a class="text-default" ng-class="{highlight: tab == 'messages'}" ng-href="#main/{{'messages'}}">
				<i class="fa fa-car" aria-hidden="true"></i>
			</a>
		</div>
		<div class="col-xs-4 h1 text-center">
			<a class="text-default" ng-class="{highlight: tab == 'settings'}" ng-href="#main/{{'settings'}}">
				<i class="fa fa-user" aria-hidden="true"></i>
			</a>
		</div>
	</nav>

</div>
