<nav class="navbar navbar-fixed-bottom navbar-custom">
	<div class="col-xs-4 h1 text-center" ng-click="switch('home')">
		<a class="text-default active" data-toggle="tab" data-target="#home">
			<i class="fa fa-home" aria-hidden="true"></i>
		</a>
	</div>
	<div class="col-xs-4 h1 text-center" ng-click="switch('messages')">
		<a class="text-default" data-toggle="tab" data-target="#messages">
			<i class="fa fa-car" aria-hidden="true"></i>
		</a>
	</div>
	<div class="col-xs-4 h1 text-center" ng-click="switch('settings')">
		<a class="text-default" data-toggle="tab" data-target="#settings">
			<i class="fa fa-user" aria-hidden="true"></i>
		</a>
	</div>
</nav>