<table class="table table-bordered func-table">
	<tr>
		<td valign="middle">
			<a href="#" class="text-default">
				<i class="fa fa-car"></i>&nbsp;预约驾考
			</a>
		</td>
		<td valign="middle">
			<a href="#" class="text-default">
				<i class="fa fa-credit-card"></i>&nbsp;缴费
			</a>
		</td>
	</tr>
	<tr>
		<td valign="middle">
			<a href="#" class="text-default">
				<i class="fa fa-bookmark-o"></i>&nbsp;模拟题库
			</a>
		</td>
		<td valign="middle">
			<a href="#" class="text-default">
				<i class="fa fa-users"></i>&nbsp;我的班级
			</a>
		</td>
	</tr>
</table>