<ul class="list-group funcs-group">
    <li class="list-group-item">
        <a href="#" class="text-default">
            <i class="fa fa-car"></i>&nbsp;预约驾考
        </a>
    </li>
    <li class="list-group-item">
        <a href="#" class="text-default">
            <i class="fa fa-credit-card"></i>&nbsp;缴费
        </a>
    </li>
    <li class="list-group-item">
        <a href="#" class="text-default">
            <i class="fa fa-bookmark-o"></i>&nbsp;模拟题库
        </a>
    </li>
    <li class="list-group-item">
        <a href="#" class="text-default">
            <i class="fa fa-users"></i>&nbsp;我的班级
        </a>
    </li>
</ul>
