<div class="category-container outer-container container">
    <table class="table table-bordered category-table">
        <tbody>
            <tr>
                <td width="50%">
                    <a href="#" class="text-default">
                        <i class="fa fa-car"></i>&nbsp;预约驾考
                    </a>
                </td>
                <td width="50%">
                    <a href="#" class="text-default">
                        <i class="fa fa-credit-card"></i>&nbsp;缴费
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="text-default">
                        <i class="fa fa-bookmark-o"></i>&nbsp;模拟题库
                    </a>
                </td>
                <td>
                    <a href="#" class="text-default">
                        <i class="fa fa-users"></i>&nbsp;我的班级
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
