<div class="progress-container outer-container container">
    <div class="col-xs-6 text-center">
        <round-progress 
        	max="max"
        	current="100" 
        	color="#45ccce" 
        	bgcolor="#eaeaea" 
        	radius="45" 
        	stroke="5" 
        	semi="false" 
        	rounded="true" 
        	clockwise="true" 
        	responsive="false" 
        	duration="800" 
        	animation="easeInOutQuart" 
        	animation-delay="0"></round-progress>
    </div>
    <div class="col-xs-6 text-center">
        <round-progress 
        	max="max"
        	current="80" 
        	color="#45ccce" 
        	bgcolor="#eaeaea" 
        	radius="45" 
        	stroke="5" 
        	semi="false" 
        	rounded="true" 
        	clockwise="true" 
        	responsive="false" 
        	duration="800" 
        	animation="easeInOutQuart" 
        	animation-delay="0"></round-progress>
    </div>
    <div class="col-xs-6 text-center">
    <span class="subject-title">科目一</span>
    </div>
    <div class="col-xs-6 text-center">
    <span class="subject-title">科目二</span>
    </div>
    <div class="col-xs-12">&nbsp;</div>
    <div class="col-xs-6 text-center">
        <round-progress 
        	max="max"
        	current="60" 
        	color="#45ccce" 
        	bgcolor="#eaeaea" 
        	radius="45" 
        	stroke="5" 
        	semi="false" 
        	rounded="true" 
        	clockwise="true" 
        	responsive="false" 
        	duration="800" 
        	animation="easeInOutQuart" 
        	animation-delay="0"></round-progress>
    </div>
    <div class="col-xs-6 text-center">
        <round-progress 
        	max="max"
        	current="30" 
        	color="#45ccce" 
        	bgcolor="#eaeaea" 
        	radius="45" 
        	stroke="5" 
        	semi="false" 
        	rounded="true" 
        	clockwise="true" 
        	responsive="false" 
        	duration="800" 
        	animation="easeInOutQuart" 
        	animation-delay="0"></round-progress>
    </div>
    <div class="col-xs-6 text-center">
    <span class="subject-title">科目三</span>
    </div>
    <div class="col-xs-6 text-center">
    <span class="subject-title">科目四</span>
    </div>
</div>
